a.nav-link.active{
    background: #ddd;
}

/*.nav-item.lang:hover{
    background: #ddd;
    box-shadow: 2px 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}*/


@font-face {
    font-family: "GEE SS Two";
    src: url('fonts/custom/ArbFONTS-59GE-SS-Two.otf');
  }

  #lang {
    font-family: "GEE SS Two", Georgia, serif;
  }
